@media (min-with: 796 ) and (max-width: 1024px) {
   html{
      scroll-behavior: smooth;
      overflow : hidden;
    }
   .icon{
    width: 20px;
   }
   .nav{
    opacity: 1;

  
  }
   .menu-toggle{
    
   }
}
   


@media (max-width: 768px) {
   html{
      scroll-behavior: smooth;
      overflow : hidden;
    }
    .logo {
        display: none;
    }
    .nav{
         opacity: 1;
       }
       .menu-toggle{
        left: 18rem;
       }
       .menu{
        width: 200px;
       }
       .menu ul li a {
          font-size: 1rem;
       }
       .menu ul li {
        transform: translateX(-16px);
       }
}